<!--
Copyright 2017-Present Couchbase, Inc.

Use of this software is governed by the Business Source License included in
the file licenses/BSL-Couchbase.txt.  As of the Change Date specified in that
file, in accordance with the Business Source License, use of this software will
be governed by the Apache License, Version 2.0, included in the file
licenses/APL2.txt.
-->

<div ng-show="qc.validated.valid()" class="wb-wrapper">
  <mn-element-cargo depot="actions" ng-if="qc.validated.valid()">
    <div class="header-controls">
      <a ng-if="qc.showOptions"
         ng-click="qc.options()">
        <span class="icon fa-cog fa-lg"></span>
      </a>
      <input type="file" id="loadQuery" name="files" style="display:none" accept="text/plain">
      <a ng-if="qc.fileSupport"
         id="loadQueryButton"
         ng-click="qc.load_query()"
         onchange="console.log('changed files')">
        IMPORT
      </a>
      <a ng-click="qc.unified_save()">
        EXPORT
      </a>
    </div>
  </mn-element-cargo>

<!-- wrapper for query editor and results ------------------------------------->
  <div mn-spinner="queryInProgress" class="wb-main-wrapper width-9 resp-small">
<!-- query editor header, main editor area, and results footer ---------------->
    <div class="wb-query-editor">
<!-- Editor "header row" ------------------------------------------------------>
      <div class="wb-query-editor-header" ng-click="qc.handleClick('editor')">
        <h5>Query Editor</h5>
        <span>
          <button
             title="View previous queries/results"
             ng-click="qc.prev()"
             qw-long-press="qc.historyMenu"
             class="outline btn-small"
             ng-disabled="!qc.hasPrev()">
            &larr;
          </button>
          <span class="wb-history-controls-inner">
            <a ng-click="qc.historyMenu()">history</a>
            <small>({{qc.getCurrentIndex()}})</small>
          </span>
          <button
             title="View subsequent queries/results"
             ng-click="qc.next()"
             qw-long-press="qc.historyMenu"
             class="outline btn-small"
             ng-disabled="!qc.hasNext()">
            &rarr;
          </button>
        </span>

        <span class="query-context">
          <select ng-model="qc.lastResult.queryContext"
            uib-tooltip-html="'Set a default scope, so you may write queries with only the collection name.'"
            tooltip-placement="auto top"
            tooltip-append-to-body="true"
            tooltip-trigger="mouseenter"
            class="fix-width-3">
            <option value>query context</option>
            <option ng-repeat="scope in qc.scopeNames">{{scope}}</option>
          </select>
        </span>
      </div>

<!-- Ace editor --------------------------------------------------------------->
      <div
         class="wb-ace-editor" ng-click="qc.handleClick('editor')"
         ui-ace="qc.aceInputOptions"
         ng-disabled="qc.executingQuery.busy"
         ng-model="qc.lastResult.query">
      </div>

<!-- wrapper under query editor for button and stats -------------------------->
      <div class="wb-query-editor-footer">
        <span class="wb-button-wrapper nowrap">
          <button ng-click="qc.query()" class="wb-button-execute">
            <div ng-if="!qc.executingQuery.busy">
              Execute
            </div>
            <div ng-if="qc.executingQuery.busy" class="icon-button">
              Cancel <span class="icon fa-spinner fa-spin fa-pulse"></span>
            </div>
          </button>
          <button
             ng-disabled="qc.executingQuery.busy"
             ng-click="qc.query(true)"
             class="outline tight">
            Explain
            <span ng-if="qc.executingQuery.busy" class="icon fa-spinner fa-spin fa-pulse"></span>
          </button>
        </span>

<!-- query execution summary stats -------------------------------------------->
        <div class="wb-result-summary">
          <span
             class="nowrap wb-result-status padding-right-half"
             ng-class="{success: qc.status_success(), error: qc.status_fail()}">
            {{qc.lastResult.status}}
          </span>
          <span ng-if="qc.lastResult.elapsedTime" class="nowrap pipe">
            elapsed: {{qc.lastResult.elapsedTime}}
          </span>
          <span ng-if="qc.lastResult.executionTime" class="nowrap pipe">
            execution: {{qc.lastResult.executionTime}}
          </span>
          <span ng-if="qc.lastResult.processedObjects == 0 || qc.lastResult.processedObjects" class="nowrap pipe">
            docs scanned: {{qc.lastResult.processedObjects}}
          </span>
          <span ng-if="qc.lastResult.resultCount" class="nowrap pipe">
            docs returned: {{qc.lastResult.resultCount}}
          </span>
          <span ng-if="qc.lastResult.resultSize" class="nowrap pipe">
            size: {{qc.lastResult.resultSize}} bytes
          </span>
          <span ng-if="qc.lastResult.warningCount == 0 || qc.lastResult.warningCount" class="nowrap pipe">
            warnings: {{qc.lastResult.warningCount}}
          </span>
        </div>

<!-- run-time preferences ----------------------------------------------------->
        <a ng-disabled="qc.executingQuery.busy"
           ng-click="qc.format()"
           class="text-smallish nowrap resp-hide-xsml">
          <span class="icon fa-align-right"></span>
          format
        </a>
      </div>
    </div>

<!-- query results ------------------------------------------------------------>
    <div class="wb-results-header" ng-click="qc.handleClick('results')">
      <h4>Query Results
        <a ng-click="qc.copyResultAsCSV()" title="Copy results in tabular format" class="margin-left-half">
          <span class="icon fa-copy"></span>
        </a>
        <span
           ng-if="qc.lastResult.warnings"
           tooltip-trigger="mouseenter"
           tooltip-append-to-body="true"
           tooltip-class="tooltip-custom-wide"
           class="fa-warning icon force-orange-3 cursor-pointer"
           uib-tooltip-html="'Showing {{qc.lastResult.limitedWarningsCount}} of {{qc.lastResult.warningCount}} warnings:<br/>'
                                 + '{{qc.lastResultWarnings()}}'">
        </span>
      </h4>
      <span class="pills">
        <a ng-click="qc.selectTab(1)"
           ng-class="{selected: qc.isSelected(1)}">JSON</a>
        <a ng-click="qc.selectTab(2)"
           ng-class="{selected: qc.isSelected(2)}">Table</a>
        <a ng-click="qc.selectTab(3)"
           ng-class="{selected: qc.isSelected(3)}">Chart</a>
        <a ng-click="qc.selectTab(4)" ng-if="qc.isEnterprise"
           ng-class="{selected: qc.isSelected(4)}">Plan</a>
        <a ng-click="qc.selectTab(5)"
           ng-class="{selected: qc.isSelected(5)}">Plan Text</a>
      </span>
    </div>

    <div class="wb-results-wrapper" ng-click="qc.handleClick('results')">
      <div class="wb-results-show-anyway" ng-if="!qc.showBigDatasets && qc.dataTooBig()">
        <div ng-bind-html="qc.getBigDataMessage()"></div>
        <a ng-click="qc.setShowBigData(true)" class="text-medium link-heavy">
          Show anyway <span class="icon fa-angle-right"></span>
        </a>
      </div>
      <div class="wb-results-json" ui-ace="qc.aceOutputOptions"
           ng-if="qc.isSelected(1) && (!qc.dataTooBig() || qc.showBigDatasets)"
           ng-model="qc.lastResult.result"></div>

      <div class="wb-results-table"
           ng-if="qc.isSelected(2)"
           qw-json-data-table="qc.lastResult.data"></div>

      <div class="wb-results-chart" ng-if="qc.isSelected(3)">
        <qw-json-chart [subject]="qc.result_subject" [result]="qc.lastResult.data" ></qw-json-chart>
      </div>

      <div class="wb-results-explain" ng-if="qc.isSelected(4)"
           qw-explain-viz-d3="qc.lastResult.explainResult"></div>

      <div class="wb-results-explain-text"
           ng-if="qc.isSelected(5)"
           ui-ace="qc.acePlanOptions"
           ng-model="qc.lastResult.explainResultText"></div>
    </div>
  </div>

<!-- manage analytics scopes sidebar ----------------------------------- -->
   <div class="insights-sidebar width-3 resp-hide-sml">
    <div class="row margin-bottom-half">
     <h5>Analytics Scopes, Links, & Collections</h5>
      <div class="insights-sidebar-expand" ng-click="qc.toggleAnalysisSize()">
        <span ng-if="!qc.analysisExpanded" class="icon fa-expand" title="expand"></span>
        <span ng-if="qc.analysisExpanded" class="icon fa-compress" title="contract"></span>
      </div>
    </div>
    <div mn-spinner="qc.qqs.loadingBuckets">
      <div ng-if="qc.qqs.bucket_errors">
        <br>
        <p style="white-space:pre-wrap;" class="text-small">
          {{qc.qqs.bucket_errors}}
        </p>
      </div>
      <div ng-if="!qc.qqs.bucket_errors">
        <div class="insights-sidebar-body">
          <div class="padding-right-1"><button
             ng-show="qc.validated.canAccessLinks() && qc.atLeast70"
             ng-click="qc.mapCollections()"
             class="outline tight ellipsis width-12 margin-bottom-1"
             title="Map analytics collections from existing data service collections">
            Map From Data Service
          </button></div>

          <section
             class="text-small margin-bottom-1-5"
             ng-repeat="dataverse in qc.dataverses"
             ng-if="!qc.scopeEmpty(dataverse) || qc.showEmptyScopes()">
            <div class="analytics-scope-box">
              <span class="ellipsis">
                <h6 class="ellipsis">{{dataverse.dataverseDisplayName}}</h6>
              </span>
              <div>
                <div class="text-fine row" ng-if="qc.validated.canAccessLinks() && dataverse.dataverseDisplayName != 'Default' && qc.scopeEmpty(dataverse)">
                  <a ng-click="qc.dropScope(dataverse)"
                     title="drop analytics scope">
                    <span class="icon fa-trash"></span>
                  </a>
                </div>
                <a ng-click="qc.createNewLink(dataverse)" ng-if="qc.validated.canAccessLinks()" class="text-fine nowrap">
                  + remote link
                </a><br>
              </div>
            </div>

            <!-- Show datasets grouped by Link, the Local link always come first -->
            <div ng-repeat="link in qc.getLinksInDataverse(dataverse.DataverseName)" ng-if="qc.getDatasetsInLink(dataverse,link).length > 0 || qc.showEmptyScopes()">
              <div class="row margin-left-half margin-right-half margin-top-half">
                <span class="row flex-left ellipsis">
                  <h6 class="ellipsis margin-right-quarter"
                      ng-class="{'cursor-pointer' : link.LinkName != 'Local'}"
                      ng-click="link.LinkName != 'Local' && qc.editLink(link,dataverse)">
                    <span class="ellipsis" ng-if="link.DVName != dataverse.DataverseName">
                      {{link.DVName}}.
                    </span>{{link.LinkName}}
                  </h6>

                  <span ng-if="link.LinkName == 'Local'" class="label neutral margin-right-quarter">
                    cb local
                  </span>
                  <span ng-if="link.LinkName != 'Local' && link.LinkType == 'INTERNAL'" class="label neutral margin-right-quarter">
                    cb remote
                  </span>
                  <span ng-if="link.LinkType == 'EXTERNAL'" class="label neutral margin-right-quarter">
                    {{link.extLinkType}}
                  </span>

                  <span
                     ng-if="link.IsActive === qc.datasetUnknownState"
                     title="fetching link state..."
                     class="icon fa-spinner fa-pulse grayblack-3">
                  </span>
                  <span ng-if="link.LinkType == 'INTERNAL' && qc.atLeast70">
                    <span
                       ng-if="!link.IsActive && qc.atLeast70"
                       class="icon fa-unlink orange-1 cursor-pointer"
                       ng-click="qc.connectLink(link,dataverse)"
                       uib-tooltip-html="'<b class=\'orange-1\'>link disconnected</b> | click icon to re-connect'"
                       tooltip-placement="auto top"
                       tooltip-append-to-body="true"
                       tooltip-trigger="mouseenter">
                    </span>
                    <span
                       ng-if="link.IsActive === true"
                       class="icon fa-link cursor-pointer grayblue-1"
                       ng-click="qc.disconnectLink(link,dataverse)"
                       uib-tooltip-html="'<b class=\'green-1\'>link connected</b> | click icon to disconnect'"
                       tooltip-placement="auto top"
                       tooltip-append-to-body="true"
                       tooltip-trigger="mouseenter">
                    </span>
                  </span>

                </span>
                <a ng-show="qc.validated.canAccessLinks()"
                   title="Add new collection to link"
                   ng-click="qc.createNewDataset(link)"
                   class="text-fine nowrap margin-left-1">
                  + collection
                </a>
              </div>
              <div ng-repeat="shadow in qc.getDatasetsInLink(dataverse,link)">
                <div ng-init="shadow.expanded = false">
                  <div class="row margin-left-half margin-top-half">

                    <div
                       class="disclosure padding-left-1 ellipsis"
                       ng-class="{warning : shadow.remaining === qc.datasetDisconnectedState, disclosed : shadow.expanded}"
                       ng-click="shadow.expanded = !shadow.expanded">
                      <span
                         class="icon fa-database text-smaller grayblue-2 margin-right-quarter"
                         ng-class="{warning : shadow.remaining === qc.datasetDisconnectedState}"></span>
                      {{shadow.id}}
                    </div>

                  </div>
<!-- expando section for details on each dataset -------------------------- -->
                  <div class="margin-bottom-half margin-left-3 text-smallish" ng-show="shadow.expanded">
                     <p ng-show="!shadow.external" class="margin-bottom-half" title="source collection and filter">
                      {{shadow.bucketName}}<span ng-if="shadow.scopeName && shadow.collectionName">.{{shadow.scopeName}}.{{shadow.collectionName}}</span>
                      <span ng-show="shadow.filter">|</span> {{shadow.filter}}
                    </p>
                    <p ng-show="shadow.external" class="margin-bottom-half">
                      Container:<br>
                      {{shadow.container}}.{{shadow.bucketName}}
                      <span ng-show="shadow.definition">|</span> {{shadow.definition}}
                      <span ng-show="shadow.format">({{shadow.format}})</span>
                    </p>
                    <span ng-if="link.LinkType != 'EXTERNAL' && !shadow.indexes.length">no indexes</span>
                    <p class="margin-bottom-half" ng-show="link.LinkType != 'EXTERNAL' && shadow.indexes.length > 0">
                      Index<span ng-show="shadow.indexes.length > 1">es</span>:<br>
                      <span ng-repeat="idx in shadow.indexes">
                        {{idx.IndexName}} <span ng-repeat="key in idx.keys">({{key}})<br></span>
                      </span>
                    </p>
                    <p ng-if="link.LinkType == 'EXTERNAL' && shadow.format != 'json'">
                      {{shadow.TypeString}}
                    </p>
                    <p>
                      <a ng-click="qc.dropDataset(link,shadow)"
                         class="inline margin-bottom-half margin-top-half">
                        drop analytics collection
                      </a>
                    </p>
                  </div>
                  <div class="margin-left-3 margin-bottom-half" ng-show="shadow.remaining > 0">
                    <em class="text-smaller">
                      progress {{shadow.progress}}%<span ng-show="shadow.timeLag">| {{shadow.timeLag}} est. time remaining</span>
                    </em>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <a ng-click="qc.toggleEmptyScopes()" class="text-smallish block width-12 text-center margin-right-half"
             title="Show/hide analytics scopes & links that have no collections"
          ng-if="qc.atLeast70">
            <span ng-hide="qc.showEmptyScopes()">Show empty analytics scopes</span>
            <span ng-show="qc.showEmptyScopes()">Hide empty analytics scopes</span>
          </a>
        </div>

<!-- footer buttons -------------------------------------------------------- -->
        <div class="row fix-position-br wb-refresh-btn">
          <button
             title="Refresh scopes and collections"
             ng-click="qc.updateBuckets()"
             class="outline text-smallish tight"
             ng-disabled="qc.qqs.loadingBuckets">
            Refresh &nbsp;
            <span ng-if="qc.qqs.loadingBuckets" class="icon fa-refresh"></span>
            <span ng-if="!qc.qqs.loadingBuckets" class="icon fa-refresh"></span>
          </button>
        </div>

      </div>
    </div>
  </div>
</div>
