<!--
Copyright 2017-Present Couchbase, Inc.

Use of this software is governed by the Business Source License included in
the file licenses/BSL-Couchbase.txt.  As of the Change Date specified in that
file, in accordance with the Business Source License, use of this software will
be governed by the Apache License, Version 2.0, included in the file
licenses/APL2.txt.
-->

<div>
    <mn-element-cargo depot="subnav">
    <nav ng-if="qc.validated.valid()" class="sub-nav">
      <a ui-sref="app.admin.cbas.workbench" ui-sref-active="selected">
        Workbench</a>
      <a ui-sref="app.admin.cbas.monitoring" ng-if="qc.isEnterprise"
       ng-class="{selected: ('app.admin.cbas.monitoring' | includedByState)}">
        Monitor</a>
        <!--
      <a ui-sref="app.admin.query.doc_editor" ui-sref-active="selected">
        Document Editor</a> -->
    </nav>
  </mn-element-cargo>

  <div class="margin-top-1" ng-if="qc.validated.inProgress() && !qc.validated.valid()">
    <p>Contacting analytics node...</p>
  </div>

  <div ng-if="!qc.validated.inProgress() && !qc.validated.valid()" class="margin-top-half">
    <div ng-if="qc.validNodes.length">
      <span ng-if="qc.validated.otherStatus() != 404">
        <p class="error">Received error {{qc.validated.otherStatus()}} when contacting the
        analytics service. Try refreshing the browser, as errors may occur if the analytics service
        is still warming up or suffering a transient error.</p>
      </span>
    </div>
    <div ng-if="qc.validNodes.length == 0">
      <p class="error">The analytics interface is only available on Couchbase clusters running the analytics service.
      No analytics nodes were found on this cluster.</p>
    </div>
  </div>

  <div ui-view=""></div>
</div>
