<div id="currentUI"
     ng-show="qc.validated.valid()"
     class="row items-top">

  <mn-element-cargo depot="actions" ng-if="qc.validated.valid()">
    <div class="header-controls">
      <input type="file" id="loadQuery" name="files" style="display:none" accept="text/plain">
      <a href=""
         ng-if="qc.fileSupport"
         id="loadQueryButton"
         ng-click="qc.load_query()"
         class="outline"
         onchange="console.log('changed files')">IMPORT</a>
      <a href="" ng-click="qc.unified_save()">EXPORT</a>
    </div>
  </mn-element-cargo>

  <!-- wrapper for query editor and results -->
  <div mn-spinner="queryInProgress" id="query_wrapper" class="width-9">
    <!-- query_box is the query editor -->
    <div id="query_box">
      <!-- Editor "header row" -->
      <div id="query_header" class="row">

        <h4>Analytics Query Editor</h4>
        <div class="query-history-controls">
          <button
                  title="View previous queries/results" ng-click="qc.prev()"
                  qw-long-press="qc.historyMenu"
                  class="outline btn-small"
                  ng-disabled="!qc.hasPrev()">
            &larr;
          </button>
          <span class="query-history-controls-inner">
            <a class="link-heavy text-small" ng-click="qc.historyMenu()">history</a>
            <small>({{qc.getCurrentIndex()}})</small>
          </span>
          <button
                  title="View subsequent queries/results"
                  ng-click="qc.next()"
                  qw-long-press="qc.historyMenu"
                  class="outline btn-small"
                  ng-disabled="!qc.hasNext()">
            &rarr;
          </button>
        </div>
      </div>
      <!-- Ace editor -->
      <div id="query_editor" ui-ace="qc.aceInputOptions"
           ng-disabled="qc.executingQuery.busy"
           ng-model="qc.lastResult.query">{{qc.renderPage()}}
      </div>

    </div>

    <!-- wrapper under query editor for button and stats -->
    <div id="query_footer" class="row">
      <span class="nowrap">
        <button ng-click="qc.query()" class="qw-button-exec">
          <div ng-if="!qc.executingQuery.busy">Execute</div>
          <div ng-if="qc.executingQuery.busy" class="icon-button">Cancel <span
                  class="icon fa-spinner fa-spin fa-pulse"></span></div>
        </button>
        <button ng-disabled="qc.executingQuery.busy" ng-click="qc.query(true)" class="outline tight">
           Explain
           <span ng-if="qc.executingQuery.busy" class="icon fa-spinner fa-spin fa-pulse"></span>
        </button>
      </span>

      <!-- query results stats -->
      <div id="result_summary" ng-hide="qc.lastResult.hide" class="text-smaller">
        <span
                ng-class="{success: qc.status_success(), error: qc.status_fail()}"
                class="semi-bold">
          {{qc.lastResult.status}}</span>
        <span> | elapsed: {{qc.lastResult.elapsedTime}} | </span>
        <span>execution: {{qc.lastResult.executionTime}} | </span>
        <span ng-if="qc.lastResult.mutationCount">mutations: {{qc.lastResult.mutationCount}} | </span>
        <span ng-if="!qc.lastResult.mutationCount">count: {{qc.lastResult.resultCount}} | </span>
        <span>size: {{qc.lastResult.resultSize}} | </span>
        <span>processed objects: {{qc.lastResult.processedObjects}}</span>
      </div>

      <a href="" ng-if="qc.showOptions" ng-click="qc.options()" class="row">
        <span class="icon fa-cog margin-right"></span>
        <span class="text-smaller">Preferences</span>
      </a>
    </div>

    <!-- query results -->
    <div id="result_header" class="row">
      <h4>Analytics Query Results</h4>
      <span class="pills">
        <a ng-click="qc.selectTab(1)"
           ng-class="{selected: qc.isSelected(1)}">JSON</a>
        <a ng-click="qc.selectTab(2)"
           ng-class="{selected: qc.isSelected(2)}">Table</a>
        <a ng-click="qc.selectTab(3)"
           ng-class="{selected: qc.isSelected(3)}">Tree</a>
        <!-- Temporary Hide Plan Tab  -->
        <a ng-click="qc.selectTab(4)" ng-if="qc.isEnterprise && false"
           ng-class="{selected: qc.isSelected(4)}">Plan</a>
        <a ng-click="qc.selectTab(5)"
           ng-class="{selected: qc.isSelected(5)}">Plan Text</a>
      </span>
    </div>

    <div id="result_box">
      <div id="show_anyway" ng-if="!qc.showBigDatasets && qc.dataTooBig()">
        <div ng-bind-html="qc.getBigDataMessage()"></div>
        <a href="" ng-click="qc.setShowBigData(true)" class="text-medium link-heavy">Show anyway <span
                class="icon fa-angle-right"></span></a>
      </div>
      <div id="result_editor" ui-ace="qc.aceOutputOptions"
           ng-if="qc.isSelected(1) && (!qc.dataTooBig() || qc.showBigDatasets)"
           ng-model="qc.lastResult.result"></div>
      <div id="result_table"
           ng-if="qc.isSelected(2) && (!qc.dataTooBig() || qc.showBigDatasets)"
           qw-json-table="qc.lastResult.data"></div>
      <div id="result_tree"
           ng-if="qc.isSelected(3) && (!qc.dataTooBig() || qc.showBigDatasets)"
           qw-json-tree="qc.lastResult.data"></div>
      <div id="query_plan" ng-if="qc.isSelected(4)"
           qw-explain-viz="qc.lastResult.explainResult"></div>
      <div id="query_plan_text" ng-if="qc.isSelected(5)"
           ui-ace="qc.acePlanOptions"
           ng-model="qc.lastResult.explainResultText"></div>
    </div>
  </div>

  <!-- bucket insights sidebar -->
  <div ng-if="true" id="metadata" class="width-3">
    <!-- title + icons -->
    <div class="row">
      <h4>Bucket Insights</h4>
      <span>
          <a title="Refresh bucket insights"
             ng-click="qc.updateBuckets()"
             class="margin-right-half"
             ng-disabled="qc.qqs.loadingBuckets">
            <span ng-if="qc.qqs.loadingBuckets" class="icon fa-refresh" style="color: gray"></span>
            <span ng-if="!qc.qqs.loadingBuckets" class="icon fa-refresh"></span>
        </a>
        <a title="expand or contract sidebar" ng-click="qc.toggleAnalysisSize()">
            <span ng-if="!qc.analysisExpanded" class="icon fa-expand"></span>
            <span ng-if="qc.analysisExpanded" class="icon fa-compress"></span>
          </a>
        </span>
    </div>
    <!-- details -->
    <div mn-spinner="qc.qqs.loadingBuckets">
      <div ng-if="qc.qqs.bucket_errors">
        <br>
        <p style="white-space:pre-wrap;">{{qc.qqs.bucket_errors}}
        </p>
      </div>
      <div ng-if="!qc.qqs.bucket_errors" id="sidebar_body">
        <section>
          <div class="row">
            <h5 title="Available bucket connections">{{qc.analysisFirstSection}}</h5>
          </div>
          <span class="text-small" ng-repeat="bucket in qc.buckets">
        <ul>
          <ul>
            {{bucket.cbBucketName}}
            <span ng-if="bucket.connected" title="connected" class="icon fa-link fa-rotate-90"
                  style="cursor:auto;"></span>
        <span ng-if="!bucket.connected" title="disconnected" class="icon fa-unlink fa-rotate-90"
              style="cursor:auto;"></span>
        <span ng-if="bucket.cbBucketName != bucket.id">{{bucket.id}}</span>
        <span ng-repeat="shadow in qc.shadows">
          <div ng-if="shadow.bucketName == bucket.id">
           <a href="" ng-click="changeExpandShadow(shadow)" class="text-small">
        <span class="icon fa-caret-down fa-fw" ng-show="shadow.expanded"></span>
        <span class="icon fa-caret-right fa-fw" ng-hide="shadow.expanded"></span> {{shadow.id}}
        </a>
        <ul class="text-small" ng-if="shadow.expanded">
          <ul ng-if="shadow.filter">
            <span title="Filter" class="icon fa-filter" style="cursor:auto"></span> {{shadow.filter}}
          </ul>
        </ul>
        </div>
        </span>
        </ul>
        </ul>
        </span>
        </section>

        <section>
          <div class="row">
            <h5 title="Cluster bucket with no connections">{{qc.analysisSecondSection}}</h5>
          </div>
          <span class="text-small" ng-repeat="bucket in qc.bucketsWithNoConnection">
        <ul>
          <ul>
            {{bucket}}
          </ul>
        </ul>
        </span>
        </section>
      </div>
    </div>
  </div>
</div>
