<!--
Copyright 2019-Present Couchbase, Inc.

Use of this software is governed by the Business Source License included in
the file licenses/BSL-Couchbase.txt.  As of the Change Date specified in that
file, in accordance with the Business Source License, use of this software will
be governed by the Apache License, Version 2.0, included in the file
licenses/APL2.txt.
-->

<div>

  <div class="row margin-bottom-half">
<!-- top row w/ title/time/pill selectors -->
    <div class="row">
      <h4 class="inline">
        <span ng-if="qmc.isSelected(1)">Active Enterprise Analytics Queries</span>
        <span ng-if="qmc.isSelected(2)">Completed Enterprise Analytics Queries</span>
        <small>
          {{qmc.updatedTime()}}
          <span ng-if="qmc.get_update_flag()" class="loading"></span>
          <span ng-if="!qmc.get_update_flag()" class="loading-placeholder"></span>
        </small>
      </h4>
      <button class="outline tight icon-small indent-1"
        ng-click="qmc.toggle_update()">
        <span ng-if="qmc.get_update_flag()" class="icon fa-pause"></span>
        <span ng-if="!qmc.get_update_flag()" class="icon fa-play"></span>
        &nbsp;{{qmc.get_toggle_label()}}
      </button>
    </div>

    <div class="pills text-right">
      <a ng-click="qmc.selectTab(1)" ng-class="{selected: qmc.isSelected(1)}">Active</a>
      <a ng-click="qmc.selectTab(2)" ng-class="{selected: qmc.isSelected(2)}">Completed</a>
    </div>
  </div>

<!--  Insufficient permissions ************************************  -->
  <div id="monitoring_tables" >

<!-- ACTIVE QUERIES TABLE  ************************************  -->
    <div class="qm-table-active cbui-table" ng-if="qmc.isSelected(1)">
      <!-- table wrapper -->
      <div class="cbui-table-header padding-left">
        <!-- table header row, no <section> wrapper -->
        <span class="cbui-table-cell flex-grow-3" ng-click="qmc.update_active_sort('statement')">query
          <span ng-if="qmc.show_up_caret_active('statement')" class="icon fa-caret-up"></span>
          <span ng-if="qmc.show_down_caret_active('statement')" class="icon fa-caret-down"></span>
        </span> <span class="cbui-table-cell" ng-click="qmc.update_active_sort('node')">node
          <span ng-if="qmc.show_up_caret_active('node')" class="icon fa-caret-up"></span>
          <span ng-if="qmc.show_down_caret_active('node')" class="icon fa-caret-down"></span>
        </span>
        <span class="cbui-table-cell" ng-click="qmc.update_active_sort('elapsedTime')">duration
          <span ng-if="qmc.show_up_caret_active('elapsedTime')" class="icon fa-caret-up"></span>
          <span ng-if="qmc.show_down_caret_active('elapsedTime')" class="icon fa-caret-down"></span>
        </span>
        <span class="cbui-table-cell" ng-click="qmc.update_active_sort('state')">state
          <span ng-if="qmc.show_up_caret_active('state')" class="icon fa-caret-up"></span>
          <span ng-if="qmc.show_down_caret_active('state')" class="icon fa-caret-down"></span>
        </span>
        <span class="cbui-table-cell" ng-click="qmc.update_active_sort('users')">user
          <span ng-if="qmc.show_up_caret_active('users')" class="icon fa-caret-up"></span>
          <span ng-if="qmc.show_down_caret_active('users')" class="icon fa-caret-down"></span>
        </span> <span class="cbui-table-cell flex-grow-1-5"></span>
      </div>

      <section
        ng-repeat="result in qmc.monitoring.active_requests | orderBy:qmc.options().active_sort_by:qmc.options().active_sort_reverse">
        <div class="cbui-tablerow padding-left">
          <span
             class="cbui-table-cell flex-grow-3 cursor-pointer"
             uib-tooltip="{{result.statement}}"
             tooltip-placement="auto top"
             tooltip-append-to-body="true"
             tooltip-class="break-word">
            {{result.statement}}
          </span>
          <span class="cbui-table-cell">
            {{result.node}}
          </span>
          <span class="cbui-table-cell">
            {{result.elapsedTime}}
          </span>
          <span class="cbui-table-cell">
            {{result.state}}
          </span>
          <span class="cbui-table-cell">
            {{result.users}}
          </span>
          <span class="cbui-table-cell flex-grow-1-5 wrap text-right">
            <a ng-if="result.plan" ng-click="qmc.showPlan(result.statement,result.plan)">Plan&nbsp;</a>
            <a ui-sref="app.admin.cbas.workbench({query: result.statement})" class="nowrap">
              Edit
            </a>
            <a ng-if="result.cancellable" class="margin-left-half nowrap" ng-click="qmc.cancelQueryById(result.uuid)">
              {{qmc.getCancelLabel(result.uuid)}}
            </a>
          </span>
        </div>
      </section>
    </div>

<!-- COMPLETED TABLE  ***************************************************  -->

    <div class="qm-table-completed cbui-table" ng-if="qmc.isSelected(2)">
      <div class="cbui-table-header padding-left">
        <span class="cbui-table-cell flex-grow-3 wrap" ng-click="qmc.update_completed_sort('statement')">query
            <span ng-if="qmc.show_up_caret_completed('statement')" class="icon fa-caret-up"></span>
            <span ng-if="qmc.show_down_caret_completed('statement')" class="icon fa-caret-down"></span>
        </span>
          <span class="cbui-table-cell" ng-click="qmc.update_completed_sort('node')">node
            <span ng-if="qmc.show_up_caret_completed('node')" class="icon fa-caret-up"></span>
            <span ng-if="qmc.show_down_caret_completed('node')" class="icon fa-caret-down"></span>
          </span>
          <span class="cbui-table-cell" ng-click="qmc.update_completed_sort('elapsedTime')">duration
            <span ng-if="qmc.show_up_caret_completed('elapsedTime')" class="icon fa-caret-up"></span>
            <span ng-if="qmc.show_down_caret_completed('elapsedTime')" class="icon fa-caret-down"></span>
          </span>
          <span class="cbui-table-cell" ng-click="qmc.update_completed_sort('state')">state
            <span ng-if="qmc.show_up_caret_completed('state')" class="icon fa-caret-up"></span>
            <span ng-if="qmc.show_down_caret_completed('state')" class="icon fa-caret-down"></span>
          </span>
          <span class="cbui-table-cell" ng-click="qmc.update_completed_sort('requestTime')">run at
            <span ng-if="qmc.show_up_caret_completed('requestTime')" class="icon fa-caret-up"></span>
            <span ng-if="qmc.show_down_caret_completed('requestTime')" class="icon fa-caret-down"></span>
          </span>
          <span class="cbui-table-cell" ng-click="qmc.update_completed_sort('users')">user
            <span ng-if="qmc.show_up_caret_completed('users')" class="icon fa-caret-up"></span>
            <span ng-if="qmc.show_down_caret_completed('users')" class="icon fa-caret-down"></span>
          </span>
          <span class="cbui-table-cell flex-grow-half"></span>
      </div>

      <section ng-repeat="result in qmc.monitoring.completed_requests | orderBy:qmc.options().completed_sort_by:qmc.options().completed_sort_reverse">
        <div class="cbui-tablerow padding-left">
          <span
             class="cbui-table-cell flex-grow-3 cursor-pointer"
             uib-tooltip="{{result.statement}}"
             tooltip-placement="auto top"
             tooltip-append-to-body="true"
             tooltip-class="break-word">
            {{result.statement}}
          </span>
          <span class="cbui-table-cell">
            {{result.node}}
          </span>
          <span class="cbui-table-cell">
            {{result.elapsedTime}}
          </span>
          <!--span class="cbui-table-cell">
            {{result.resultCount}}
          </span-->
          <span ng-class="result.errorCount ? 'orange-3 cbui-table-cell' : 'cbui-table-cell'">
            {{result.state}}
            <span ng-if="result.errorCount" tooltip-trigger="'mouseenter'" tooltip-append-to-body="true"
                class="fa-warning icon orange-3 cursor-pointer" uib-tooltip="{{result.errors}}"></span>
          </span>
          <span class="cbui-table-cell cursor-pointer" uib-tooltip="{{result.requestTime}}"
             tooltip-placement="auto top"
             tooltip-append-to-body="true"
             tooltip-class="break-word">
            {{result.requestTime | limitTo:8:11}} {{result.requestTime | limitTo:3:-3}}
          </span>
          <span class="cbui-table-cell">
            {{result.users}}
          </span>
          <span class="cbui-table-cell flex-grow-half text-right">
            <a ng-if="result.plan" ng-click="qmc.showPlan(result.statement,result.plan)">plan&nbsp;</a>
            <a ui-sref="app.admin.cbas.workbench({query: result.statement})" class="nowrap">
              edit
            </a>
          </span>
        </div>
      </section>
    </div>


<!-- QUERY STATISTICS ****************************************************** -->

  <footer class="footer-analytics">
    <div class="column vertical-divider">
      <span class="width-6">Disk Used</span>
      <span class="text-right width-6">{{qmc.getLatestStat('@cbas.cbas_disk_used')/1024/1024 | number:1}} MB</span><br>
      <span class="width-6">Heap Used</span>
      <span class="text-right width-6">{{qmc.getLatestStat('@cbas.cbas_heap_used')/1024/1024 | number:1}} MB</span>
    </div>
    <div class="column vertical-divider">
      <span class="width-6">System Load</span>
      <span class="text-right width-6">{{qmc.getAverageStat('@cbas.cbas_system_load_average') | number:1}}</span><br>
      <span class="width-6">Thread Count</span>
      <span class="text-right width-6">{{qmc.getAverageStat('@cbas.cbas_thread_count') | number:1}}</span>
    </div>
    <div class="column">
      <span class="width-6">Garbage Collection Rate</span>
      <span class="text-right width-6">{{qmc.getAverageStat('@cbas.cbas_gc_count') | number:1}} gc/sec</span><br>
      <span class="width-6">Garbage Collection Time</span>
      <span class="text-right width-6">{{qmc.getAverageStat('@cbas.cbas_gc_time') | number:1}} ms/sec</span>
    </div>
  </footer>


</div>
