<!--
Copyright 2020-Present Couchbase, Inc.

Use of this software is governed by the Business Source License included in
the file licenses/BSL-Couchbase.txt.  As of the Change Date specified in that
file, in accordance with the Business Source License, use of this software will
be governed by the Apache License, Version 2.0, included in the file
licenses/APL2.txt.
-->

<div class="dialog-med">
  <div class="panel-header">
    <h2 ng-show="options.is_new" class="ellipsis margin-right-1">Add Link to {{options.dataverse}}</h2>
    <h2 ng-show="!options.is_new">Edit Link</h2>
  </div>
  <form class="forms" name="linkForm">
    <div class="panel-content">
      <div class="error error-form">
        <div ng-repeat="error in errors">
          Attention: {{error}}
        </div>
      </div>
      <div class="formrow">
        <label for="cluster_reference_name">Link Name</label>
        <input
           ng-disabled="!options.is_new"
           ng-model="options.link_name"
           type="text"
           autocorrect="off"
           spellcheck="false"
           autocapitalize="off"
           required>
      </div>

      <div class="formrow">
        <label for="cluster_reference_name">Link Type</label>
        <div class="checkbox-list formrow">
          <div>
            <input
               ng-disabled="!options.is_new"
               type="radio"
               value="couchbase"
               id="couchbase_link"
               ng-model="options.link_type">
            <label
               ng-disabled="!options.is_new"
               for="couchbase_link"
               class="checkbox">
              Couchbase
            </label>
          </div>
          <div>
            <input
               ng-disabled="!options.is_new"
               type="radio"
               value="s3"
               id="s3_link"
               ng-model="options.link_type">
            <label
               ng-disabled="!options.is_new"
               for="s3_link"
               class="checkbox">
              S3
            </label>
          </div>
          <div>
            <input
               ng-disabled="!options.is_new"
               type="radio"
               value="azureblob"
               id="azureblob_link"
               ng-model="options.link_type">
            <label
               ng-disabled="!options.is_new"
               for="azureblob_link"
               class="checkbox">
               Azure Blob
            </label>
          </div>
          <div ng-if="isDeveloperPreview()">
            <input
              ng-disabled="!options.is_new"
              type="radio"
              value="azuredatalake"
              id="azuredatalake_link"
              ng-model="options.link_type">
            <label
              ng-disabled="!options.is_new"
              for="azuredatalake_link"
              class="checkbox">
              Azure Data Lake
            </label>
          </div>
        </div>
      </div>


      <!-- Options for Couchbase Links -->
      <div ng-if="options.link_type == 'couchbase'">
      <div class="formrow">
        <label for="cluster_reference_hostname" class="inline">Remote IP/Hostname</label>
        <span
           class="fa-stack icon-info"
           uib-tooltip="This is the hostname or IP address of a node in the remote cluster you want to link. IPv6 addresses need to be enclosed in square brackets."
           tooltip-placement="auto right">
          <span class="icon fa-circle-thin fa-stack-2x"></span>
          <span class="icon fa-info fa-stack-1x"></span>
        </span>
        <input
           ng-model="options.couchbase_link.hostname"
           id="cluster_reference_hostname"
           type="text"
           autocorrect="off"
           spellcheck="false"
           autocapitalize="off"
           required>
      </div>
      <div class="formrow">
        <label>Username for Remote Cluster</label>
        <input
           ng-model="options.couchbase_link.username"
           type="text"
           autocorrect="off"
           spellcheck="false"
           autocapitalize="off">
      </div>
      <div class="formrow">
        <label>Password</label>
        <input
           ng-model="options.couchbase_link.password"
           type="password"
           autocorrect="off"
           spellcheck="false"
           autocomplete="one-time-code"
           mn-autocomplete-off>
      </div>

      <!-- encryption options -->
      <div
         class="formrow checkbox-list">
        <input
           ng-model="options.couchbase_link.demand_encryption"
           ng-click="change_encryption()"
           id="for_encryption_enable"
           type="checkbox">
        <label for="for_encryption_enable" class="margin-right-zero">
          Enable Secure Connection
        </label>
        <span
           class="fa-stack icon-info"
           uib-tooltip="SCRAM-SHA will be employed to secure only the password
          (if Half is selected), or will encrypt both data and password using
          TLS (if Full is selected)."
           tooltip-placement="auto top">
          <span class="icon fa-circle-thin fa-stack-2x"></span>
          <span class="icon fa-info fa-stack-1x"></span>
        </span>
      </div>
      <div class="formrow" ng-show="options.couchbase_link.demand_encryption">
        <div class="checkbox-list formrow">
          <div>
            <input
               type="radio"
               value="half"
               id="for_encription_type_half"
               ng-model="options.couchbase_link.encryption_type">
            <label
               for="for_encription_type_half"
               class="checkbox">
              Half (secure password with SCRAM-SHA)
            </label>
          </div>
          <div>
            <input
               type="radio"
               value="full"
               id="for_encription_type_full"
               ng-model="options.couchbase_link.encryption_type">
            <label
               for="for_encription_type_full"
               class="checkbox">
              Full (TLS encrypt password and data)
            </label>
          </div>
        </div>
        <div class="formrow" ng-if="options.couchbase_link.encryption_type == 'full'">
          <textarea
             rows="4"
             autocorrect="off"
             autocompleterg="off"
             spellcheck="false"
             ng-model="options.couchbase_link.certificate"
             placeholder="Copy/paste the certificate information from your remote cluster into this field. You can find the certificate information on the Couchbase Web Console in the security area.">
          </textarea>
        </div>
        <div class="formrow" ng-if="options.couchbase_link.encryption_type == 'full'">
          <textarea
             rows="4"
             autocorrect="off"
             autocompleterg="off"
             spellcheck="false"
             ng-model="options.couchbase_link.client_certificate"
             placeholder="Client Certificate">
          </textarea>
        </div>
        <textarea
           ng-if="options.couchbase_link.encryption_type == 'full'"
           rows="4"
           autocorrect="off"
           autocompleterg="off"
           spellcheck="false"
           ng-model="options.couchbase_link.client_key"
           placeholder="Client Key">
        </textarea>
      </div>
      </div>

      <!-- Options for S3 Links -->
      <div ng-if="options.link_type == 's3'">

      <div class="formrow">
        <label>Access Key ID</label>
        <input
           ng-model="options.s3_link.access_key_id"
           type="text"
           autocorrect="off"
           spellcheck="false"
           autocapitalize="off">
      </div>
      <div class="formrow">
        <label>Secret Access Key</label>
        <input
           rows=4
           ng-model="options.s3_link.access_key"
           autocorrect="off"
           spellcheck="false"
           mn-autocomplete-off
           type="password"
           name="secret_s3_key"
           autocomplete="one-time-code">
         </input>
      </div>
      <div class="formrow">
        <label>Region</label>
        <select ng-model="options.s3_link.region" required>
          <option ng-repeat="region in options.aws_regions" ng-value="region">{{region}}</option>
        </select>
      </div>

      <div class="formrow">
        <label>Endpoint</label>
        <input
           ng-model="options.s3_link.endpoint"
           type="text"
           autocorrect="off"
           spellcheck="false"
           autocapitalize="off">
      </div>

      </div>

      <!-- Options for Azure Blob Link -->
      <div ng-if="options.link_type == 'azureblob' || options.link_type == 'azuredatalake'">

        <div class="formrow">
          <label>Endpoint</label>
          <input
            ng-model="options.azure_link.endpoint"
            type="text"
            autocorrect="off"
            spellcheck="false"
            autocapitalize="off"
            required>
        </div>
        <div class="checkbox-list formrow">
          <div>
            <input
              type="radio"
              value="anonymous"
              id="for_auth_type_anonymous"
              ng-model="options.azure_link.auth_type">
            <label
              for="for_auth_type_anonymous"
              class="checkbox">
              Anonymous
            </label>
          </div>
          <div>
            <input
              type="radio"
              value="sharedkey"
              id="for_auth_type_sharedkey"
              ng-model="options.azure_link.auth_type">
            <label
              for="for_auth_type_sharedkey"
              class="checkbox">
              Shared Key
            </label>
          </div>
          <div>
            <input
              type="radio"
              value="sharedaccesssignature"
              id="for_auth_type_sharedaccesssignature"
              ng-model="options.azure_link.auth_type">
            <label
              for="for_auth_type_sharedaccesssignature"
              class="checkbox">
              Shared Access Signature
            </label>
          </div>
          <div>
            <input
              type="radio"
              value="managedidentityid"
              id="for_auth_type_managedidentityid"
              ng-model="options.azure_link.auth_type">
            <label
              for="for_auth_type_managedidentityid"
              class="checkbox">
              Managed Identity ID
            </label>
          </div>
          <div>
            <input
              type="radio"
              value="clientsecret"
              id="for_auth_type_clientsecret"
              ng-model="options.azure_link.auth_type">
            <label
              for="for_auth_type_clientsecret"
              class="checkbox">
              Client Secret
            </label>
          </div>
          <div>
            <input
              type="radio"
              value="clientcertificate"
              id="for_auth_type_clientcertificate"
              ng-model="options.azure_link.auth_type">
            <label
              for="for_auth_type_clientcertificate"
              class="checkbox">
              Client Certificate
            </label>
          </div>
        </div>
        <div class="formrow" ng-if="options.azure_link.auth_type == 'sharedkey'">
          <label>Account Name</label>
          <input
            ng-model="options.azure_link.account_name"
            type="text"
            autocorrect="off"
            spellcheck="false"
            autocapitalize="off"
            mn-autocomplete-off
            autocomplete="one-time-code"
            required>
        </div>
        <div class="formrow" ng-if="options.azure_link.auth_type == 'sharedkey'">
          <label>Account Key</label>
          <input
            ng-model="options.azure_link.account_key"
            type="password"
            autocorrect="off"
            spellcheck="false"
            autocapitalize="off"
            mn-autocomplete-off
            autocomplete="one-time-code"
            required>
        </div>
        <div class="formrow" ng-if="options.azure_link.auth_type == 'sharedaccesssignature'">
          <label>Shared Access Signature</label>
          <input
            ng-model="options.azure_link.shared_access_signature"
            type="text"
            autocorrect="off"
            spellcheck="false"
            autocapitalize="off"
            mn-autocomplete-off
            autocomplete="one-time-code"
            required>
        </div>
        <div class="formrow" ng-if="options.azure_link.auth_type == 'managedidentityid'">
          <label>Managed Identity ID</label>
          <input
            ng-model="options.azure_link.managed_identity_id"
            type="text"
            autocorrect="off"
            spellcheck="false"
            autocapitalize="off"
            required>
        </div>
        <div class="formrow" ng-if="options.azure_link.auth_type == 'clientsecret' ||
                                    options.azure_link.auth_type == 'clientcertificate'">
          <label>Client ID</label>
          <input
            ng-model="options.azure_link.client_id"
            type="text"
            autocorrect="off"
            spellcheck="false"
            autocapitalize="off"
            required>
        </div>
        <div class="formrow" ng-if="options.azure_link.auth_type == 'clientsecret'">
          <label>Client Secret</label>
          <input
            ng-model="options.azure_link.client_secret"
            type="password"
            autocorrect="off"
            spellcheck="false"
            autocapitalize="off"
            mn-autocomplete-off
            autocomplete="one-time-code"
            required>
        </div>
        <div class="formrow" ng-if="options.azure_link.auth_type == 'clientcertificate'">
          <label>Client Certificate</label>
          <input
            ng-model="options.azure_link.client_certificate"
            type="password"
            rows="4"
            autocorrect="off"
            spellcheck="false"
            autocapitalize="off"
            mn-autocomplete-off
            autocomplete="one-time-code"
            required>
        </div>
        <div class="formrow" ng-if="options.azure_link.auth_type == 'clientsecret' ||
                                    options.azure_link.auth_type == 'clientcertificate'">
          <label>Tenant ID</label>
          <input
            ng-model="options.azure_link.tenant_id"
            type="text"
            autocorrect="off"
            spellcheck="false"
            autocapitalize="off"
            required>
        </div>
        <div class="formrow" ng-if="options.azure_link.auth_type == 'clientcertificate'">
          <input
            id="is_client_certificate_password"
            ng-model="options.azure_link.is_client_certificate_password"
            type="checkbox">
          <label for="is_client_certificate_password">Certificate Password</label>
        </div>
        <div class="formrow" ng-if="options.azure_link.auth_type == 'clientcertificate'
                                    && options.azure_link.is_client_certificate_password == true">
          <label>Client Certificate Password</label>
          <input
            ng-model="options.azure_link.client_certificate_password"
            type="password"
            autocorrect="off"
            spellcheck="false"
            autocapitalize="off"
            mn-autocomplete-off
            autocomplete="one-time-code"
            required>
        </div>
      </div>
    </div>

    <div class="panel-footer" ng-class="{spaced: !options.is_new}">
      <a  ng-if="options.is_new" ng-click="$dismiss('cancel')">Cancel</a>
      <button ng-if="!options.is_new" class="outline" ng-click="$close('drop')">Drop Link</button>
      <button ng-if="!options.is_new" class="outline"  ng-click="$dismiss('cancel')">Close Dialog</button>
      <button ng-disabled="linkForm.$invalid" type="submit" ng-click="$close('ok')">Save</button>
    </div>
  </form>
</div>
