<!--
Copyright 2020-Present Couchbase, Inc.

Use of this software is governed by the Business Source License included in
the file licenses/BSL-Couchbase.txt.  As of the Change Date specified in that
file, in accordance with the Business Source License, use of this software will
be governed by the Apache License, Version 2.0, included in the file
licenses/APL2.txt.
-->

<div class="dialog-med" style="width: 542px">
  <div class="panel-header">
    <h2 ng-show="options.is_new" class="ellipsis margin-right-1">Add Link to {{options.dataverse}}</h2>
    <h2 ng-show="!options.is_new">Edit Link</h2>
  </div>
  <form class="forms" name="linkForm">
    <div class="panel-content">
      <div class="error error-form" style="word-break: break-word">
        <div ng-repeat="error in errors">
          {{error}}
        </div>
      </div>
      <div class="formrow">
        <label for="cluster_reference_name">Link Name</label>
        <input
           ng-disabled="!options.is_new"
           ng-model="options.link_name"
           type="text"
           autocorrect="off"
           spellcheck="false"
           autocapitalize="off"
           required>
      </div>

      <div class="formrow">
        <label for="link_type">Link Type</label>
        <select id="link_type" ng-model="options.link_type" ng-disabled="!options.is_new" required>
          <option value="couchbase">Couchbase</option>
          <option value="s3">S3</option>
          <option value="azureblob">Azure Blob</option>
          <option value="azuredatalake" ng-if="isDeveloperPreview()">Azure Datalake</option>
          <option value="gcs">Google Cloud Storage</option>
        </select>
      </div>

      <!-- Options for Couchbase Links -->
      <div ng-if="options.link_type == 'couchbase'">
        <div class="formrow">
          <label for="cluster_reference_hostname" class="inline">Remote IP/Hostname</label>
          <span
             class="fa-stack icon-info"
             uib-tooltip="This is the hostname or IP address of a node in the remote cluster you want to link. IPv6 addresses need to be enclosed in square brackets."
             tooltip-placement="auto right">
            <span class="icon fa-circle-thin fa-stack-2x"></span>
            <span class="icon fa-info fa-stack-1x"></span>
          </span>
          <input
             ng-model="options.couchbase_link.hostname"
             id="cluster_reference_hostname"
             type="text"
             autocorrect="off"
             spellcheck="false"
             autocapitalize="off"
             required>
        </div>

        <div class="formrow">
          <label for="encryption_type">Encryption Type</label>
          <select id="encryption_type" ng-model="options.couchbase_link.encryption_type" required>
            <option value="none">None (password is not secured)</option>
            <option value="half">Half (secure password with SCRAM-SHA)</option>
            <option value="full_password">Full (using credentials)</option>
            <option value="full_client_certificate">Full (using client certificate)</option>
            <option value="full_encrypted_client_certificate">Full (using encrypted client certificate)</option>
          </select>
        </div>

        <div class="formrow"  ng-if="showUsernameAndPasswordFields(options.couchbase_link.encryption_type)">
          <label>Remote Username</label>
          <input
            ng-model="options.couchbase_link.username"
            type="text"
            autocorrect="off"
            spellcheck="false"
            autocapitalize="off"
            required>
        </div>
        <div class="formrow" ng-if="showUsernameAndPasswordFields(options.couchbase_link.encryption_type)">
          <label>Remote Password</label>
          <input
            ng-model="options.couchbase_link.password"
            type="password"
            autocorrect="off"
            spellcheck="false"
            autocomplete="one-time-code"
            mn-autocomplete-off
            required>
        </div>
        <div class="formrow" ng-if="showClusterCertificateField(options.couchbase_link.encryption_type)">
          <label>Remote Cluster Certificate(s)</label>
          <div class="row" ng-repeat="certificate in options.couchbase_link.certificates track by $index">
            <textarea
               rows="5"
               class="monospaced certificate-props ng-binding"
               style="word-break: break-word;max-width: 480px"
               autocorrect="off"
               autocompleterg="off"
               spellcheck="false"
               ng-model="options.couchbase_link.certificates[$index]"
               placeholder="Copy/paste a trusted root certificate from the remote cluster into this field. You can find the certificate(s) on the Couchbase Web Console under Security->Certificates."
               required>
            </textarea>
            <div style="width: 30px">
              <button type="button" ng-if="options.couchbase_link.certificates.length > 1" class="outline btn-small" title="Remove this cluster certificate." ng-click="removeCertificate($index)">-</button>
              <button type="button" class="outline btn-small margin-left-0" title="Add a new cluster certificate." ng-click="addCertificate()">+</button>
            </div>
          </div>
        </div>
        <div class="formrow" ng-if="showClientCertificateField(options.couchbase_link.encryption_type)">
          <label>Client Certificate</label>
          <textarea
             rows="5"
             class="monospaced certificate-props ng-binding"
             style="word-break: break-word;max-width: 480px"
             autocorrect="off"
             autocompleterg="off"
             spellcheck="false"
             ng-model="options.couchbase_link.client_certificate"
             placeholder="Copy/paste the certificate used to identify the user on the remote cluster into this field."
             required>
          </textarea>
        </div>
        <div class="formrow" ng-if="showClientCertificateField(options.couchbase_link.encryption_type)">
          <label>{{options.couchbase_link.encryption_type == 'full_encrypted_client_certificate' ? "Encrypted " : ""}}Client Key</label>
          <textarea
             rows="5"
             class="monospaced certificate-props ng-binding"
             style="word-break: break-word;max-width: 480px"
             autocorrect="off"
             autocompleterg="off"
             spellcheck="false"
             ng-model="options.couchbase_link.client_key"
             placeholder="{{clientKeyPlaceholderText(options.couchbase_link.encryption_type)}}"
             required>
          </textarea>
        </div>
        <div class="checkbox-list formrow" ng-if="showPassphraseField(options.couchbase_link.encryption_type)">
          <label>Passphrase Type</label>
          <div>
            <input
              type="radio"
              value="plain"
              id="for_passphrase_type_plain"
              ng-model="options.couchbase_link.client_key_passphrase.type">
            <label
              for="for_passphrase_type_plain"
              class="checkbox">
              Plain
            </label>
            <input
              type="radio"
              value="rest"
              id="for_passphrase_type_rest"
              ng-model="options.couchbase_link.client_key_passphrase.type">
            <label
              for="for_passphrase_type_rest"
              class="checkbox">
              REST
            </label>
          </div>
        </div>
        <div ng-if="showPlainPassphraseFields(options.couchbase_link.encryption_type, options.couchbase_link.client_key_passphrase.type)">
          <div class="formrow">
            <label>Password</label>
            <input
              ng-model="options.couchbase_link.client_key_passphrase.password"
              autocorrect="off"
              spellcheck="false"
              mn-autocomplete-off
              type="password"
              name="client_key_passphrase_password"
              autocomplete="one-time-code"
              required>
          </div>
        </div>
        <div ng-if="showRestPassphraseFields(options.couchbase_link.encryption_type, options.couchbase_link.client_key_passphrase.type)">
          <div class="formrow" ng-if="options.couchbase_link.client_key_passphrase.type == 'rest'">
            <label>URL</label>
            <input
              ng-model="options.couchbase_link.client_key_passphrase.url"
              type="text"
              autocorrect="off"
              spellcheck="false"
              autocapitalize="off"
              required>
          </div>
          <div class="row" ng-if="options.couchbase_link.client_key_passphrase.type == 'rest' && options.couchbase_link.client_key_passphrase.url.startsWith('https://')">
            <label>HTTPS Options</label>
          </div>
          <div class="formrow" ng-if="options.couchbase_link.client_key_passphrase.type == 'rest' && options.couchbase_link.client_key_passphrase.url.startsWith('https://')"
               ng-click="options.couchbase_link.client_key_passphrase.https_opts.verify_peer = !options.couchbase_link.client_key_passphrase.https_opts.verify_peer">
            <input ng-model="options.couchbase_link.client_key_passphrase.https_opts.verify_peer" type="checkbox"
                   name="verify_peer">
            <label for="verify_peer">Verify Peer</label>
          </div>
          <div class="formrow" ng-if="options.couchbase_link.client_key_passphrase.type == 'rest'">
              <label title="The request timeout for the REST request (in milliseconds).">Timeout</label>
              <input
                ng-model="options.couchbase_link.client_key_passphrase.timeout"
                type="number"
                autocorrect="off"
                spellcheck="false"
                autocapitalize="off"
                required>
          </div>
          <div class="row">
            <label title="Optional HTTP headers to include on the passphrase REST request.">HTTP Headers</label>
          </div>
          <div class="row">
            <div class="column width-5" style="margin-bottom:.5rem">
              <label>Name</label>
            </div>
            <div class="column width-7" style="margin-bottom:.5rem">
              <label>Value</label>
            </div>
          </div>
          <div class="row" ng-repeat="param in options.couchbase_link.client_key_passphrase.http_headers track by $index">
            <div class="column width-6" style="margin-bottom:.5rem">
              <input placeholder="name" type="text" ng-model="options.couchbase_link.client_key_passphrase.http_headers[$index].name"
                     ng-required="options.couchbase_link.client_key_passphrase.http_headers[$index].value != ''">
            </div>
            <div class="column width-6" style="margin-bottom:.5rem"
                 ng-switch on="options.couchbase_link.client_key_passphrase.http_headers[$index].name != null
                    && options.couchbase_link.client_key_passphrase.http_headers[$index].name.toLowerCase() == 'authorization'">
              <input ng-switch-when="true" type="password" ng-model="options.couchbase_link.client_key_passphrase.http_headers[$index].value">
              <input ng-switch-when="false" type="text" ng-model="options.couchbase_link.client_key_passphrase.http_headers[$index].value">
            </div>
            <button ng-if="showHttpHeaderRemoveButton()" type="button" class="outline btn-small" title="Remove this HTTP header." ng-click="removeHttpHeader($index)">-</button>
            <button type="button" class="outline btn-small" title="Add new HTTP header." ng-click="addHttpHeader()">+</button>
          </div>
        </div>
      </div>

      <!-- Options for S3 Links -->
      <div ng-if="options.link_type == 's3'">

      <div class="formrow">
        <label>Access Key ID</label>
        <input
           ng-model="options.s3_link.access_key_id"
           type="text"
           autocorrect="off"
           spellcheck="false"
           autocapitalize="off">
      </div>
      <div class="formrow">
        <label>Secret Access Key</label>
        <input
           ng-model="options.s3_link.access_key"
           autocorrect="off"
           spellcheck="false"
           mn-autocomplete-off
           type="password"
           name="secret_s3_key"
           autocomplete="one-time-code">
      </div>
      <div class="formrow">
        <label>Session Token</label>
        <input
           ng-model="options.s3_link.session_token"
           autocorrect="off"
           spellcheck="false"
           mn-autocomplete-off
           type="password"
           name="s3_session_token"
           autocomplete="one-time-code">
      </div>
      <div class="formrow">
        <label>Region</label>
        <select ng-model="options.s3_link.region" required>
          <option ng-repeat="region in options.aws_regions" ng-value="region">{{region}}</option>
        </select>
      </div>

      <div class="formrow">
        <label>Endpoint</label>
        <input
           ng-model="options.s3_link.endpoint"
           type="text"
           autocorrect="off"
           spellcheck="false"
           autocapitalize="off">
      </div>

      </div>

      <!-- Options for Azure Blob Link -->
      <div ng-if="options.link_type == 'azureblob' || options.link_type == 'azuredatalake'">

        <div class="formrow">
          <label>Endpoint</label>
          <input
            ng-model="options.azure_link.endpoint"
            type="text"
            autocorrect="off"
            spellcheck="false"
            autocapitalize="off"
            required>
        </div>
        <label>Authentication Method</label>
        <div class="formrow">
          <select id="azure_auth_type" ng-model="options.azure_link.auth_type" required>
            <option value="anonymous">Anonymous (No credentials/authentication)</option>
            <option value="sharedkey">Shared Key</option>
            <option value="sharedaccesssignature">Shared Access Signature</option>
            <option value="managedidentityid">Managed Identity ID</option>
            <option value="clientsecret">Client Secret</option>
            <option value="clientcertificate">Client Certificate</option>
          </select>
        </div>
        <div class="formrow" ng-if="options.azure_link.auth_type == 'sharedkey'">
          <label>Account Name</label>
          <input
            ng-model="options.azure_link.account_name"
            type="text"
            autocorrect="off"
            spellcheck="false"
            autocapitalize="off"
            mn-autocomplete-off
            autocomplete="one-time-code"
            required>
        </div>
        <div class="formrow" ng-if="options.azure_link.auth_type == 'sharedkey'">
          <label>Account Key</label>
          <input
            ng-model="options.azure_link.account_key"
            type="password"
            autocorrect="off"
            spellcheck="false"
            autocapitalize="off"
            mn-autocomplete-off
            autocomplete="one-time-code"
            required>
        </div>
        <div class="formrow" ng-if="options.azure_link.auth_type == 'sharedaccesssignature'">
          <label>Shared Access Signature</label>
          <input
            ng-model="options.azure_link.shared_access_signature"
            type="text"
            autocorrect="off"
            spellcheck="false"
            autocapitalize="off"
            mn-autocomplete-off
            autocomplete="one-time-code"
            required>
        </div>
        <div class="formrow" ng-if="options.azure_link.auth_type == 'managedidentityid'">
          <label>Managed Identity ID</label>
          <input
            ng-model="options.azure_link.managed_identity_id"
            type="text"
            autocorrect="off"
            spellcheck="false"
            autocapitalize="off"
            required>
        </div>
        <div class="formrow" ng-if="options.azure_link.auth_type == 'clientsecret' ||
                                    options.azure_link.auth_type == 'clientcertificate'">
          <label>Client ID</label>
          <input
            ng-model="options.azure_link.client_id"
            type="text"
            autocorrect="off"
            spellcheck="false"
            autocapitalize="off"
            required>
        </div>
        <div class="formrow" ng-if="options.azure_link.auth_type == 'clientsecret'">
          <label>Client Secret</label>
          <input
            ng-model="options.azure_link.client_secret"
            type="password"
            autocorrect="off"
            spellcheck="false"
            autocapitalize="off"
            mn-autocomplete-off
            autocomplete="one-time-code"
            required>
        </div>
        <div class="formrow" ng-if="options.azure_link.auth_type == 'clientcertificate'">
          <label>Client Certificate</label>
          <textarea
            rows="5"
            class="monospaced certificate-props ng-binding"
            style="word-break: break-word;max-width: 480px"
            autocorrect="off"
            autocompleterg="off"
            spellcheck="false"
            ng-model="options.azure_link.client_certificate"
            placeholder="Copy/paste the certificate and the private key."
            required>
            </textarea>
        </div>
        <div class="formrow" ng-if="options.azure_link.auth_type == 'clientsecret' ||
                                    options.azure_link.auth_type == 'clientcertificate'">
          <label>Tenant ID</label>
          <input
            ng-model="options.azure_link.tenant_id"
            type="text"
            autocorrect="off"
            spellcheck="false"
            autocapitalize="off"
            required>
        </div>
        <div class="formrow" ng-if="options.azure_link.auth_type == 'clientcertificate'">
          <input
            id="is_client_certificate_password"
            ng-model="options.azure_link.is_client_certificate_password"
            type="checkbox">
          <label for="is_client_certificate_password">Certificate Password</label>
        </div>
        <div class="formrow" ng-if="options.azure_link.auth_type == 'clientcertificate'
                                    && options.azure_link.is_client_certificate_password == true">
          <label>Client Certificate Password</label>
          <input
            ng-model="options.azure_link.client_certificate_password"
            type="password"
            autocorrect="off"
            spellcheck="false"
            autocapitalize="off"
            mn-autocomplete-off
            autocomplete="one-time-code"
            required>
        </div>
      </div>

      <!-- Options for Google Cloud Storage -->
      <div ng-if="options.link_type == 'gcs'">
        <label>Authentication Method</label>
        <div class="formrow">
          <select id="gcs_auth_type" ng-model="options.gcs_link.auth_type" required>
            <option value="anonymous">Anonymous (No credentials/authentication)</option>
            <option value="applicationdefaultcredentials">Application Default Credentials</option>
            <option value="jsoncredentials">JSON Credentials</option>
          </select>
        </div>
        <div class="formrow" ng-if="options.gcs_link.auth_type == 'jsoncredentials'">
          <label>JSON Credentials</label>
          <textarea
              rows="4"
              autocorrect="off"
              autocompleterg="off"
              spellcheck="false"
              ng-model="options.gcs_link.json_credentials"
              placeholder="Copy/paste the json credentials information into this field.">
          </textarea>
        </div>
      </div>
    </div>

    <div class="panel-footer" ng-class="{spaced: !options.is_new}">
      <a  ng-if="options.is_new" ng-click="$dismiss('cancel')">Cancel</a>
      <button ng-if="!options.is_new" class="outline" ng-click="$close('drop')">Drop Link</button>
      <button ng-if="!options.is_new" class="outline"  ng-click="$dismiss('cancel')">Discard Changes</button>
      <button ng-disabled="linkForm.$invalid" type="submit" ng-click="submitLink()">Save</button>
    </div>
  </form>
</div>
