<!--
Copyright 2026-Present Couchbase, Inc.

Use of this software is governed by the Business Source License included in
the file licenses/BSL-Couchbase.txt.  As of the Change Date specified in that
file, in accordance with the Business Source License, use of this software will
be governed by the Apache License, Version 2.0, included in the file
licenses/APL2.txt.
-->

<div class="dialog-small">
  <div class="panel-header">
    <h2>{{options.title}}</h2>
  </div>
  <div class="panel-content">
    <p>{{options.message}}</p>
    <div class="formrow margin-top-half" ng-if="options.statement">
      <label>Statement</label>
      <pre id="rbac_confirm_statement" class="text-smaller">{{options.statement}}</pre>
    </div>
  </div>
  <div class="panel-footer">
    <a ng-click="$dismiss('cancel')">Cancel</a>
    <button ng-click="$close('ok')">{{options.confirmLabel}}</button>
  </div>
</div>
